<div class="container">
  <div class="alert alert-info"> 
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;
	 </a>
   <strong>Success!</strong> Upload successful.
      <div>Here is some forum-ready text for you to copy</div> 
      <span class="h3"><b>{{{this.forumPost}}}</b></span>
  </div>
</div>
