<div class="container">
  <div class="alert alert-info h4"> 
    <a href="#" class="close" data-dismiss="alert" aria-label="close">
      &times;
    </a>
    <div>
      <strong>Success!</strong> Upload successful.
    </div>
    <div>
      Here is some forum-ready text for you to copy:
    </div>
    <div class="alt-color text-left">
      <blockquote>
        {{{this.forumPost}}}
      </blockquote>
    </div>
  </div>
</div>