<div class="container">
  <div class="alert alert-info h4"> 
    <a href="#" class="close" data-dismiss="alert" aria-label="close">
      &times;
    </a>
    <div>
      <strong>Success!</strong> Upload successful.
    </div>
    <div>
      Here's some forum-ready text of the results to copy:
    </div>
    <div class="alt-color text-left">
      <blockquote>
        {{{this.forumPost}}}
      </blockquote>
    </div>
    <a href="https://secure.spyparty.com/beta/forums/posting.php?mode=reply&f=10&t=2657" target="_blank"><u>And here's a link to the forum thread.</u></a>
  </div>
</div>