<ul class="list-group h3">
  <li class="list-group-item list-group-item-info">
    Post all replays to <u><a href="https://secure.spyparty.com/beta/forums/posting.php?mode=reply&f=10&t=2657" target="_blank">this thread</a></u> so that games can be recorded! PLEASE use the results tag to avoid spoilers! We prefer it if you tell us who picked and banned what maps.
  </li>
  <li class="list-group-item list-group-item-info">
      Games may be played at any time during the assigned week.
  </li>
  <li class="list-group-item list-group-item-info">
    It is encouraged, but not mandatory, to schedule games for Sunday evenings, Pacific time, during the live cast.
  </li>
  <li class="list-group-item list-group-item-info">
    Use <u><a href="http://draftmeaspy.party/" target="_blank">draftmeaspy.party</a></u> to set up your matches, pick/ban maps, choose who spies/snipes first, etc.!
  </li>
  <li class="list-group-item list-group-item-info">
  The live cast is every Sunday, 6:00pm US Pacific, at <u><a href="twitch.tv/spyparty" target="_blank">http://twitch.tv/spyparty</a></u>, with a pre-show starting at 5:30pm.
  </li>
  <li class="list-group-item list-group-item-info">
    You can and should schedule games weeks in advance.
  </li>
  <li class="list-group-item list-group-item-info">
    You must schedule games promptly and respond to your opponents' attempts to schedule games.
  </li>
  <li class="list-group-item list-group-item-info">
    Full scheduling, rules, and current league standings can be found in the League thread on the forums, as well as here.
  </li>
  <li class="list-group-item list-group-item-info">
    <b>Overtime Rules</b> <br>When overtime begins, the last player who played spy picks ANY map, and ANY possible layout of time, missions, and partygoers. The other player then elects to spy or snipe and the game is played. Then the players switch - the other player chooses any map/layout, and the first player then chooses to spy or snipe. If one player wins both these games, they win overtime. If the player split the overtime games, the match ends in a draw.
  </li>
</ul>

<div class="h3">List of Maps</div>

<table class="table table-striped table-hover h3">
  <td class="list-group-item list-group-item-info">
    Balcony ANY 2/3 • 
    Balcony PICK 2/3 • 
    New Art Ballroom ANY 4/8 • 
    New Art Ballroom ANY 4/7 • 
    Courtyard ANY 4/6 • 
    Courtyard ANY 4/7 •  
    Courtyard 2 ANY 4/6 • 
    Courtyard 2 ANY 4/7 •  
    Double Modern ANY 3/5 • 
    Double Modern Known 2 •  
    Gallery ANY 4/7 • 
    Gallery ANY 4/8 •  
    High-rise ANY 3/5 •  
    High-rise ANY 4/8 (12 Guests, 3 min) • 
    Modern ANY 2/3 •  
    Modern PICK 2/3 •  
    Panopticon ANY 5/7 •  
    Panopticon ANY 5/8 •  
    Pub ANY 3/5 (3:15) •  
    Pub ANY 4/7 (16 guests) • 
    New Art Veranda ANY 5/7 • 
    New Art Veranda ANY 5/8
  </td>
</table>
