<div class="h2">Week 1 Highlights</div>
<div class="embed-responsive embed-responsive-16by9">
<iframe 
  src="https://player.twitch.tv/?video=v145518033&autoplay=false" 
  frameborder="0" 
  allowfullscreen="true" 
  scrolling="no" 
  height="360" 
  width="640">
</iframe>
</div>
<div class="h2">Week 2 Highlights</div>
<div class="embed-responsive embed-responsive-16by9">
<iframe 
  src="https://player.twitch.tv/?video=v146092460&autoplay=false" 
  frameborder="0" 
  allowfullscreen="true" 
  scrolling="no" 
  height="360" 
  width="640">
</iframe>
</div>